{% extends 'base.html.twig' %}
{% block title %} Formulaire {% endblock %}
{% block body %}
<h1 class=" title "> Bienvenue sur ma page formulaire</h1>

<div class="content">
  <table class="table" cellspacing="0">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Année de naissance</th>
        <th>Address</th>

      </tr>
    </thead>
    <tbody>
      {%for user in user %}
      <tr>
        <td>{{user.firstname}}</td>
        <td>{{user.age}}</td>
        <td>{{user.forget}} </td>
        <td><button type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
        <td><button type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
