<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  {% endblock %}
</head>
<body>
    <nav class="nav justify-content-center">
            <a class="nav-link active" href="/accueil">Accueil</a>
            <a class="nav-link" href="/forms">Forms</a>
            <a class="nav-link" href="/views">ADD AND DELETE</a>
            <a class="nav-link" href="/contact">Contact</a>
          </nav>
  <div class="container">
  {% block body %}{% endblock %}
  </div>
  {% block javascripts %}{% endblock %}
</body>
</html>
