<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {% endblock %}
</head>
<body>
    <nav class="nav justify-content-center">
            <a class="nav-link active" href="{{path('home')}}">Accueil</a>
            <a class="nav-link" href="{{path('contact')}}">ADD & DELETE</a>
            <a class="nav-link" href="{{path('forms')}}">Forms</a>
          </nav>
  <div class="container">
  {% block body %}{% endblock %}
  </div>
  {% block javascripts %}{% endblock %}
</body>
</html>
